[packages]
click = "*"
crayons = "*"
docker = "*"
requests = "*"
tqdm = "*"
python-dateutil = "*"
pandas = ">=1.0.0"
h5py = "*"

[dev-packages]
nose = "*"
pipenv-setup = "*"
twine = "*"
sphinx = "*"
sphinx-jsonschema = "*"
sphinx-press-theme = "*"
sphinx-click = "*"
pytest = "*"
