[packages]
click = "*"
crayons = "*"
docker = "*"
requests = "*"
tqdm = "*"
python-dateutil = "*"

[dev-packages]
nose = "*"
pipenv-setup = "*"
twine = "*"
sphinx = "*"
sphinx-jsonschema = "*"
sphinx-press-theme = "*"
sphinx-click = "*"
